<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyPhongNet.DAL.Properties.Settings.QuanLyPhongMayConnectionString1"
            connectionString="Data Source=SHINJI-PC\SQLEXPRESS;Initial Catalog=QuanLyPhongMay;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>