<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyPhongNet.DAL.Properties.Settings.QuanLyPhongMayConnectionString"
            connectionString="Data Source=LAPTOP-UCLG3AIH\SQLEXPRESS;Initial Catalog=QuanLyPhongMay;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>